@import "app.css";

header {
  display: flex;
  justify-content: space-between;
  border: 2px solid var(--border);
  align-items: center;
  background-color: var(--background);
  gap: 2rem;
  padding: 0.5rem 1rem;

  svg {
    width: 40px;
    height: 40px;
    color: var(--primary-light);
  }

  nav a{
    display: inline;
    text-decoration: none;
    color: var(--text-primary);
    font-weight: 500;
    text-align: center;
  }
  nav a:hover{
    color: var(--text-secondary);
  }



}

.btn-secondary {
  background: var(--primary-dark);
  border: 1px solid var(--border);
  color: var(--primary-light);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
  flex-shrink: 0;
  transition: background-color 0.2s;
}





.pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-block: 2rem;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    text-decoration: none;
    color: var(--text-muted);
    border-radius: 0.375em;
    transition: all 0.3s;

    &:hover,
    &:focus {
      background-color: var(--primary-dark);
      color: var(--primary-light);
    }

    &:active {
      transform: scale(0.95);
    }

    &.is-active {
      background: var(--primary-light);
      color: white;
      pointer-events: none;
    }
  }
}

.button-apply-job {
  &.is-applied {
    background: oklch(68.16% 0.16517 153.422);
    pointer-events: none;
    color: white;
  }
}
